<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <p><b>Value:</b></p>
                    <p id="value" style="word-wrap:break-word"></p>
                    <hr />
                    <p><b>Date:</b></p>
                    <p id="date" style="word-wrap:break-word"></p>
                    <hr />
                    <p><b>Type:</b></p>
                    <p id="gradeType" style="word-wrap:break-word"></p>
                    <hr />
                    <p><b>Comment:</b></p>
                    <p id="gradeComment" style="word-wrap:break-word"></p>
                </div>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Teacher"))
                {
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteGrade">Delete</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
