
@{
    ViewBag.Title = "MyGrades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GradebookV2.Models
@using Newtonsoft.Json;
@model GradebookV2.Models.MyGradesViewModel
<h2>My Grades</h2>


<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Grades</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Subject s in Model.Subjects)
            {
                <tr>
                    <th>@s.Name</th>
                    <th>
                        @foreach (Grade g in Model.Grades)
                        {
                            if (g.SubjectId == s.SubjectId)
                            {
                                <div class="grade" value="@g.Date,@g.Type,@g.Comment,@g.Value">@g.Value</div>
                            }
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <p><b>Value:</b></p>
                    <p id="value"></p>
                    <hr />
                    <p><b>Date:</b></p>
                    <p id="date"></p>
                    <hr />
                    <p><b>Type:</b></p>
                    <p id="type"></p>
                    <hr />
                    <p><b>Comment:</b></p>
                    <p id="comment"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script>
    $(document).ready(function () {
        $(".grade").click(function (event) {
            var val = $(event.target).attr("value");
            var data = val.split(',');
            $("#comment").text(data[2]);
            $("#type").text(data[1]);
            $("#date").text(data[0]);
            $("#value").text(data[3]);
            $('#modal').modal('show');
            console.log(data);
           
        });
        

        $(".grade").mouseenter(function () {
            $(this).css('font-weight', 'bold');
        });

        $(".grade").mouseout(function () {
            $(this).css('font-weight', 'normal');
        });

    })
    </script>
}
