@{
    ViewBag.Title = "TestDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Results</h2>
<hr />
<div class="container">
    <div id="newsTitle" class="row newsDataContainer">
        <h4 style="text-align:center">Test Result</h4>
    </div>
    <div class="row newsDataContainer ">
        <div class="form-group">
            @Html.Label("Points:", htmlAttributes: new { @class = "control-label col-md-1" })
            <p id="newsContent">@ViewBag.Points/@ViewBag.Total</p>
        </div>
        <div class="form-group">
            @Html.Label("Grade:", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">@ViewBag.Name</div>
        </div>
    </div>
</div>





