@model  GradebookV2.Models.ApplicationUser[]
    @{
        ViewBag.Title = "createdUsers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Created Users</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem[0].PasswordHash)
            </th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => u.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => u.PasswordHash)
                </td>
            </tr>
        }
    </table>
